* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: justify;
    font-family: 'Fira Sans', sans-serif;
}

.fondo {
    background: #656868;
}

.material-icons {
    color: #bdab44;
    padding-top: 4px;
}

#logo2 {
    display: none;
}

.fondo-section .container .section h5 {
    color: #bdab44;
    margin-bottom: 25px;
    font-size: 40px;
}

.fondo-section .container .section a .b1 {
    display: flex;
    float: right;
    height: 360px;
    margin-left: 35px;
}

.fondo-section .container .section a .b1:hover {
    border: #bdab44 solid 3px;
}

.fondo-section .container .section .b2 {
    display: none;
}

.fondo-section .container .section p {
    font-size: 20px;
    margin-bottom: 20px;
}

.fondo-section .container .section .min {
    display: flex;
    float: left;
    margin-right: 35px;
    border: #000 solid 3px;
    height: 120px;
    width: 200px;
}

.fondo-section .container .section .min1 {
    display: flex;
    float: left;
    margin-right: 35px;
    margin-top: 12px;
    border: #000 solid 3px;
    height: 120px;
    width: 200px;
}

.container .row .col .card .card-image a img {
    height: 275px;
    width: 275px;
    margin-top: 10px;
    border: #000000 solid 5px;
}

.container .row .col .card .card-image a span {
    font-size: 25px;
}

@media only screen and (max-width: 610px) {

    .material-icons {
        color: #bdab44;
        padding-top: 0;
    }
}

@media only screen and (max-width: 395px) {

    #logo1 {
        display: none;
    }

    #logo2 {
        display: inline-block;
    }

}

@media only screen and (max-width: 550px) {

    .fondo-section .container .section a .b1 {
        display: none;
    }

    .fondo-section .container .section a .b2 {
        display: inline-block;
        width: 100%;
        height: 150px;
    }
}

@media only screen and (max-width: 790px) {

    #responsive-cards .rsp {
        display: flex;
        flex-wrap: wrap;
        min-width: 300px;
    }
}